---
# Remember, leave a key empty if there is no value.  None will be a string,
# not a Python "NoneType"
#
# Also remember that all examples have 'disable_action' set to True.  If you
# want to use this action as a template, be sure to set this to False after
# copying it.
actions:
  1:
    action: close
    description: >-
      Close indices older than 7 days (based on index name), for packetbeat-
      prefixed indices. Ignore empty list.
    options:
      delete_aliases: False
      disable_action: False
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: prefix
      value: packetbeat-
      exclude: False
    - filtertype: age
      source: creation_date
      direction: older
      unit: {{ close_beat_indices_unit }}
      unit_count: {{ close_beat_indices_unit_count }}
      exclude: False
    - filtertype: closed
      exclude: True
  2:
    action: close
    description: >-
      Close indices older than 7 days (based on index name), for metricbeat-
      prefixed indices. Ignore empty list.
    options:
      delete_aliases: False
      disable_action: False
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: prefix
      value: metricbeat-
      exclude: False
    - filtertype: age
      source: creation_date
      direction: older
      unit: {{ close_beat_indices_unit }}
      unit_count: {{ close_beat_indices_unit_count }}
      exclude: False
    - filtertype: closed
      exclude: True
  3:
    action: close
    description: >-
      Close indices older than 7 days (based on index name), for filebeat-
      prefixed indices. Ignore empty list.
    options:
      delete_aliases: False
      disable_action: False
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: prefix
      value: filebeat-
      exclude: False
    - filtertype: age
      source: creation_date
      direction: older
      unit: {{ close_beat_indices_unit }}
      unit_count: {{ close_beat_indices_unit_count }}
      exclude: False
    - filtertype: closed
      exclude: True
