---
# Remember, leave a key empty if there is no value.  None will be a string,
# not a Python "NoneType"
#
# Also remember that all examples have 'disable_action' set to True.  If you
# want to use this action as a template, be sure to set this to False after
# copying it.
actions:
  1:
    action: delete_indices
    description: >-
      Delete closed indices older than 14 days (based on index name).
    options:
      ignore_empty_list: True
      disable_action: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: packet-
      exclude: False
    - filtertype: age
      source: creation_date
      direction: older
      unit: {{ delete_beat_indices_unit }}
      unit_count: {{ delete_beat_indices_unit_count }}
      exclude: False
    - filtertype: closed
      exclude: False
  2:
    action: delete_indices
    description: >-
      Delete closed indices older than 14 days (based on index name).
    options:
      ignore_empty_list: True
      disable_action: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: metricbeat-
      exclude: False
    - filtertype: age
      source: creation_date
      direction: older
      unit: {{ delete_beat_indices_unit }}
      unit_count: {{ delete_beat_indices_unit_count }}
      exclude: False
    - filtertype: closed
      exclude: False
  3:
    action: delete_indices
    description: >-
      Delete closed indices older than 14 days (based on index name).
    options:
      ignore_empty_list: True
      disable_action: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: filebeat-
      exclude: False
    - filtertype: age
      source: creation_date
      direction: older
      unit: {{ delete_beat_indices_unit }}
      unit_count: {{ delete_beat_indices_unit_count }}
      exclude: False
    - filtertype: closed
      exclude: False
